<div class="grid-x grid-margin-x m-content-pane">
  <p class="cell small-offset-2 small-10 m-paragraph align-left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi commodi
    ullam omnis est repudiandae maxime optio qui cumque excepturi culpa
    veritatis ratione, fugit, cupiditate eum reprehenderit repellat voluptatibus
    earum.
  </p>
  <br />
  <p class="cell small-offset-2 small-10 m-paragraph align-left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi commodi
    ullam omnis est repudiandae maxime optio qui cumque excepturi culpa
    veritatis ratione, fugit, cupiditate eum reprehenderit repellat voluptatibus
    earum.
  </p>
  <p class="cell small-offset-2 small-10 m-paragraph align-left">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque animi commodi
    ullam omnis est repudiandae maxime optio qui cumque excepturi culpa
    veritatis ratione, fugit, cupiditate eum reprehenderit repellat voluptatibus
    earum.
  </p>
</div>
