<hr />
<section class="m-recent-posts-section">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10">
      <div class="m-recent-posts-text">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>&ensp;Recent Posts
      </div>
    </div>
    <div class="cell small-offset-1 small-10">
      <ul class="menu vertical align-left m-vertical-tab-2">
        <li>
          <div class="m-recent-posts-box">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 medium-4">
                <img
                  class="m-recent-posts-image"
                  src="assets/images/archives/2021/march/lets-learn-about-ptsd/slideshow/S1.png"
                />
              </div>
              <div class="cell small-6 medium-8 m-recent-posts-box-text text-center">
                Let's Learn About Obsessive Compulsive Disorder (OCD)
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="m-recent-posts-box">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 medium-4">
                <img
                  class="m-recent-posts-image"
                  src="assets/images/archives/2021/march/lets-learn-about-ptsd/slideshow/S1.png"
                />
              </div>
              <div class="cell small-6 medium-8 m-recent-posts-box-text text-center">
                Let's Learn About Obsessive Compulsive Disorder (OCD) 
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="m-recent-posts-box">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 medium-4">
                <img
                  class="m-recent-posts-image"
                  src="assets/images/archives/2021/march/lets-learn-about-ptsd/slideshow/S1.png"
                />
              </div>
              <div class="cell small-6 medium-8 m-recent-posts-box-text text-center">
                Let's Learn About Obsessive Compulsive Disorder (OCD) 
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="m-recent-posts-box">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 medium-4">
                <img
                  class="m-recent-posts-image"
                  src="assets/images/archives/2021/march/lets-learn-about-ptsd/slideshow/S1.png"
                />
              </div>
              <div class="cell small-6 medium-8 m-recent-posts-box-text text-center">
                Let's Learn About Obsessive Compulsive Disorder (OCD) 
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
