<hr />
<section class="m-references-section">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10">
      <div class="m-references-text">
        <i class="fa fa-external-link" aria-hidden="true"></i>&ensp;References
      </div>
      <ul class="menu vertical align-left m-vertical-tab-2">
        <li class="m-references-link">
          <a
            class="m-references-link"
            href="https://www.healthline.com/health/humanistic-therapy"
            >Is Humanistic Therapy Right For You? (Healthline)</a
          >
        </li>
        <li>
          <a
            class="m-references-link"
            href="https://www.verywellmind.com/client-centered-therapy-2795999"
          >
            How Client Centered Therapy Works (VeryWellMind)</a
          >
        </li>
        <li>
          <a
            class="m-references-link"
            href="https://www.ncbi.nlm.nih.gov/books/NBK64939"
            >Brief Humanistic and Existential Therapies (National Center for
            Biotechnology Information)</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
