<hr />
<section class="m-references-section">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-11">
      <div class="m-references-text">
        <i class="fa fa-external-link" aria-hidden="true"></i>&ensp;References
      </div>
      <ul class="menu vertical align-left m-vertical-tab-2">
        <li>
          Is Humanistic Therapy Right For You? (Healthline),&ensp;
          <a href="https://www.healthline.com/health/humanistic-therapy"
            >https://www.healthline.com/health/humanistic-therapy</a
          >
        </li>
        <li>
          How Client Centered Therapy Works (VeryWellMind),&ensp;
          <a href="https://www.verywellmind.com/client-centered-therapy-2795999"
            >https://www.verywellmind.com/client-centered-therapy-279599</a
          >
        </li>
        <li>
          Brief Humanistic and Existential Therapies (National Center for
          Biotechnology Information),&ensp;
          <a href="https://www.ncbi.nlm.nih.gov/books/NBK64939"
            >https://www.ncbi.nlm.nih.gov/books/NBK64939/</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
