<section class="grid-x m-title-section">
  <div class="cell small-offset-2 small-10 m-title-heading align-left">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs m-title-breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Archives</a></li>
        <li><a href="#">2021</a></li>
        <li><a href="#">March</a></li>
        <li>
          <span class="show-for-sr">Current: </span>What Is Psychodynamic
          Therapy
        </li>
      </ul>
    </nav>
  </div>
  <div class="cell small-offset-2 small-10 m-title-heading align-left">
    What is Psychodynamic Therapy
  </div>
  <div class="cell small-offset-2 align-left m-title-calendar">
    <i class="fa fa-calendar" aria-hidden="true"></i>&ensp;March 21, 2021
  </div>
</section>
