/** Font Imports **/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/** Navigation Bar */

body {
  overflow-x: hidden;
  overflow: scroll;
}

.m-navigation-bar {
  background-color: #000000;
  height: 5rem;
}

#navigation-bar-menu {
  background-color: inherit;
}

.navigation-bar-menu-item {
  font-size: 1.15rem;
  color: white;
  font-weight: 500;
  font-family: "Noto Sans", Helvetica, sans-serif;
}

.navigation-bar-menu-item:hover {
  font-weight: bolder;
  /**background-color:#e59463;*/
  color: #e59463;
}

#navigation-bar-logo {
  margin-left: 0.5rem;
}

.navigation-bar-social-media {
  background-color: inherit;
  color: white;
  font-size: 1.375rem;
}

.navigation-bar-social-media:hover {
  color: #e59463;
}

#example-dropdown {
  position: relative;
  z-index: 1;
  display: none;
  width: auto;
  height: 100vh;
  background-color: #e59463;
}

#example-dropdown.shown {
  display: flex;
}

.m-mobile-navigation-bar-menu-item,
.m-mobile-navigation-bar-text {
  font-size: 1.35rem;
  color: white;
  font-weight: 500;
  font-family: "Noto Sans", Helvetica, sans-serif;
  margin-top: 1.35rem;
}

.m-mobile-navigation-bar-menu-item:hover {
  color: white;
  font-weight: bolder;
}

.m-mobile-navigation-bar-social-media {
  background-color: inherit;
  color: white;
  font-size: 1.645rem;
}

.m-mobile-navigation-bar-social-media:hover {
  color: white;
  border-bottom: 3px solid white;
}

/**---------------- Title Section -------------------**/
.m-title-section {
  position: absolute;
  top: 7rem;
  margin-left: 1.67rem;
  margin-right: 1.67rem;
  background-color: silver;
}
/**!!------------- !Title Section! ----------------!!**/

/**---------------- Typography -------------------**/

.m-content-pane {
  position: absolute;
  top: 32rem;
  margin-left: 1.67rem;
  margin-right: 1.67rem;
}
/** Headings */
.m-title-heading {
  float: left;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.125rem;
  font-size: 2rem;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/** Paragraphs */
.m-paragraph {
  line-height: 1.4;
  float: left;
  font-size: 1rem;
  font-family: "Noto Sans", Helvetica, sans-serif;
  margin-bottom: 1.15rem;
}

/**!!--------------- !Typography! -----------------!!**/

/** ---------------- Orbit -------------------**/

#m-carousel-section {
  display: block;
  position: absolute;
  top: 20rem;
  margin-top: 0rem;
  background: #eee;
  margin-left: 1.67rem;
  margin-right: 1.67rem;
}
.carousel {
  width: 100%;
  height: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
}

/** !!--------------- !Orbit! -----------------!!**/

/** ---------------- Utilities -------------------**/
.m-no-scroll {
  overflow: hidden;
}
/** !!--------------- !Utilities! -----------------!!**/

/** For Mobile Screens */
@media screen and (max-width: 39.9375em) {
  .m-content-pane {
    max-width: 16.67rem;
  }

  .carousel,
  .m-carousel-image {
    width: 26rem;
    height: 26rem;
  }
}

/** For Tab Screens */
@media screen and (min-width: 40em) {
  .m-content-pane {
    max-width: 33.33rem;
  }
  .carousel,
  .m-carousel-image {
    width: 33.33rem;
    height: 33.33rem;
  }
}

/** For Desktop Screens */
@media screen and (min-width: 64em) {
  .m-content-pane {
    max-width: 56.67rem;
  }
  .carousel,
  .m-carousel-image {
    width: 56.67rem;
    height: 56.67rem;
  }
}
