/** Font Imports **/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/** Navigation Bar */

#main {
  overflow: hidden;
  background-color: #e9e9e9;
  font-family: "Noto Sans", Helvetica, sans-serif;
}

.m-main-content-section {
  display: visible;
}

.m-navigation-bar {
  background-color: #000000;
  height: 5rem;
  width: auto;
}

#navigation-bar-menu {
  background-color: inherit;
}

.navigation-bar-menu-item {
  font-size: 1.15rem;
  color: white;
  font-weight: 500;
  font-family: "Noto Sans", Helvetica, sans-serif;
}

.navigation-bar-menu-item:hover {
  font-weight: bolder;
  /**background-color:#e59463;*/
  color: #e59463;
}

#navigation-bar-logo {
  margin-left: 0.5rem;
}

.navigation-bar-social-media {
  background-color: inherit;
  color: white;
  font-size: 1.375rem;
}

.navigation-bar-social-media:hover {
  color: #e59463;
}

#example-dropdown {
  position: relative;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #e59463;
}

#example-dropdown.shown {
  display: flex;
}

.m-mobile-navigation-bar-menu-item,
.m-mobile-navigation-bar-text {
  font-size: 1.35rem;
  color: white;
  font-weight: 500;
  font-family: "Noto Sans", Helvetica, sans-serif;
  margin-top: 1.35rem;
}

.m-mobile-navigation-bar-menu-item:hover {
  color: white;
  font-weight: bolder;
}

.m-mobile-navigation-bar-social-media {
  background-color: inherit;
  color: white;
  font-size: 1.645rem;
}

.m-mobile-navigation-bar-social-media:hover {
  color: white;
  border-bottom: 3px solid white;
}

/**---------------- Title Section -------------------**/
.m-title-section {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}

.m-title-heading {
  float: left;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.125rem;
  font-size: 2rem;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  margin-top: 1.2rem;
}

.m-title-calendar {
  margin-top: 1.2rem;
  float: left;
  line-height: 1.4;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  color: #8c8c8c;
}

/**!!------------- !Title Section! ----------------!!**/

/**---------------- References Section -------------------**/

.m-references-section {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.m-references-text {
  font-size: 1.5rem;
}

.m-references-section a {
  margin: 0;
  padding-left: 0.5rem;
}

.m-references-section li {
  margin-top: 2rem;
  font-size: 1rem;
}

/**!!------------- !References Section! ----------------!!**/

/**---------------- Recent Posts Section -------------------**/

.m-recent-posts-section {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 6rem;
  color: black;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.m-recent-posts-box {
  padding: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.m-recent-posts-box-text {
  max-width: 20ch;
  font-size: 1rem;
  color: #333333;
  font-weight: 500;
  margin: 2rem;
}

.m-recent-posts-box-text:hover {
  font-weight: bolder;
  color: #333333;
}

.m-recent-posts-text {
  font-size: 1.5rem;
}

.m-recent-posts-image {
  height: 12rem;
  width: 12rem;
}
.m-recent-posts-section li {
  margin-top: 0.75rem;
}

/**!!------------- !Recent Posts Section! ----------------!!**/

/**---------------- Footer Section -------------------**/

.m-footer-section {
  margin-top: 3rem;
  height: 10rem;
  background-color: black;
  border-top: 0.3rem ridge #e59463;
}

.m-footer-text-medium {
  color: white;
  font-size: 1.2rem;
}

.m-footer-text-small {
  color: white;
  font-size: 0.8rem;
}

/**!!------------- !Footer Section! ----------------!!**/

/**---------------- Typography -------------------**/

.m-content-pane {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/** Paragraphs */
.m-paragraph {
  line-height: 1.4;
  float: left;
  font-size: 1rem;
  font-family: "Noto Sans", Helvetica, sans-serif;
  margin-bottom: 1.15rem;
}

/**!!--------------- !Typography! -----------------!!**/

/** ---------------- Orbit -------------------**/

#m-carousel-section {
  top: 20rem;
  margin-top: 0rem;
  overflow-x: clip;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
}

/** !!--------------- !Orbit! -----------------!!**/

/** ---------------- Utilities -------------------**/
.m-no-scroll {
  overflow: hidden;
}

.m-no-touch {
  touch-action: none;
  -ms-touch-action: none;
}

.m-util-hide {
  display: none;
}

.m-util-show {
  display: visible;
}
/** Vertical Tabs */

.m-vertical-tab-1 {
  padding-top: 1rem;
}

.m-vertical-tab-2 {
  padding-top: 2rem;
}

.m-vertical-tab-3 {
  padding-top: 3rem;
}

/** Horizontal Tabs */

.m-horizontal-tab-1 {
  padding-left: 1rem;
}

.m-horizontal-tab-2 {
  padding-left: 2rem;
}

.m-horizontal-tab-3 {
  padding-left: 3rem;
}

/** !!--------------- !Utilities! -----------------!!**/

/** For Mobile Screens */
@media screen and (max-width: 39.9375em) {
  .carousel,
  .m-carousel-image {
    width: 16.67rem;
    height: 16.67rem;
  }

  .m-recent-posts-image {
    height: 10rem;
    width: 10rem;
  }
  .m-recent-posts-box {
    height: 10rem;
  }
}

/** For Tab Screens */
@media screen and (min-width: 40em) {
  .m-main-content-section {
    display: show;
  }
  .carousel,
  .m-carousel-image {
    width: 33.33rem;
    height: 33.33rem;
  }

  .m-recent-posts-image {
    height: 12rem;
    width: 12rem;
  }

  .m-recent-posts-box {
    height: 12rem;
  }

  .m-recent-posts-box-text {
    max-width: 40ch;
  }
}

/** For Desktop Screens */
@media screen and (min-width: 64em) {
  .m-main-content-section {
    display: show;
  }
  .carousel,
  .m-carousel-image {
    width: 56.67rem;
    height: 56.67rem;
  }

  .m-recent-posts-image {
    height: 16rem;
    width: 16rem;
  }

  .m-recent-posts-box {
    height: 16rem;
  }
}
